.main_section {
    display: flex;
    justify-content: center;
    padding: 30px 210px;
    color: white;
    gap: 60px;
}

.main_section .main_banner {
    position: relative;
}

.main_section .main_banner_content {
    position: absolute;
    top: 120px;
    left: 40px;
    width: 420px;
}

.main_section .main_banner_content .info {
    margin-top: 30px;
    border-left: 2px solid #FF8A00;
    padding-left: 8px;
}

.main_section .main_banner_content .info #title {
    font-size: 20px;
    font-weight: 500;
}

.main_section .main_banner_content .info #titleOutlined {
    display: inline;
    background-color: #FF8A00;
    border-radius: 5px;
    padding: 4px 12px;
    font-weight: 600;
    font-size: 20px;
    margin-left: 3px;
}

.main_section .main_banner_content .info #description {
    font-size: 14px;
    margin-top: 10px;
}

.main_section .main_banner_content #btn {
    margin-top: 30px;
    display: inline-block;
}

.main_section .main_banner img {
    /* width: 872px; */
    height: 593px;
    border-radius: 10px;
}

.main_section .main_banner #title {
    font-size: 48px;
    font-weight: 600;
}

.main_section .right_banners {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main_section .right_banners .top_banner,
.main_section .right_banners .bot_banner {
    position: relative;
}

.main_section .right_banners .top_banner_content {
    position: absolute;
    top: 30px;
    left: 30px;
    color: #1A1A1A;
    font-size: 14px;
}

.main_section .right_banners .top_banner_content #title {
    font-weight: 500;
}

.main_section .right_banners .top_banner_content #discount {
    font-size: 32px;
    font-weight: 600;
}

.main_section .right_banners .top_banner_content #btn {
    margin-top: 20px;
}

.main_section .right_banners .bot_banner_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    position: absolute;
    color: white;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main_section .right_banners .bot_banner_content #title {
    font-size: 14px;
    font-weight: 500;
}

.main_section .right_banners .bot_banner_content #description {
    font-size: 32px;
    font-weight: 600;
    line-height: 120%;
    width: 300px;
}

.main_section .right_banners .bot_banner_content #btn {
    margin-top: 20px;
}