#shopNowBtn {
    display: flex;
    align-items: center;
    gap: 7px;
    text-decoration: none;
    color: #00B207;
    font-size: 16px;
    font-weight: 600;
}

#shopNowBtn img {
    width: 18px;
    height: 15px;
}

.shopNowBtnWhiteBg {
    background-color: white;
    border-radius: 53px;
    padding: 13px 45px;
}

.shopNowBtnWhiteBg:hover {
    background-color: rgb(233, 233, 233);
}